html(lang="en")
    head
        //etiqueta meta con atributos
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title My first PUG Template
    body  
        h1 Server Configuration
        table
          each value, key in env
            tr
              td= key
              td= value
