<div class="container">
    <p>{{data}}</p>
</div>

<style>
    #title,
    p {
        color: #fff;
        margin-top: 1px;
    }

    #container {
        background-color: rgb(32, 32, 60);
        border-radius: 2rem;
        width: 600px;
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
</style>