html
    head
        title='Dashboard'
    body
        h1 Vista de Productos
        if productos
            each producto in productos
                table
                    tr
                        th Nombre  
                        th Precio  
                        th Foto 
                    tr 
                        td  producto.title  
                        td  producto.price  
                        td 
                            img.foto(src="/uploads/#{producto.thumbnail}")  
        else
            h2 No hay productos por mostrar h2 
        button#button 
            a(href='/') Ir al formulario a  button 

style.
    table {
        background-color: #1f1e1e;
        color: #ffffff;
        width: 400px;
        padding: 10px;
        text-align: center;
    }
    .foto {
        object-fit: contain;
        max-width: 30px;
    }
    #button {
        margin-top: 10px;
        background: green;
        color: #ffffff;
        width: 150px;
        height: 30px;
    }
    h1 {
        color: blue;
    }
    a {
        text-decoration: none;
        color: white;
    }